
/* font */
html, body{
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Quicksand', sans-serif; */
  font-size: 16px;
}
.t-100{
  font-size: 100px;
  font-weight: 500;
}
.t-35{
  font-size: 35px;
}
.t-20{
  font-size: 20px;
}
.t-12{
  font-size: 12px;
}
.t-14{
  font-size: 14px;
}
.t-16{
  font-size: 16px;
}
.t-18{
  font-size: 18px;
}
.t-19{
  font-size: 19px;
}
.t-21{
  font-size: 21px;
}
.t-23{
  font-size: 23px;
}
.t-28{
  font-size: 28px;
}
.line-h-sm{
  line-height: 150%;
}
.line-h-md{
  line-height: 170%;
}
.t-light{
  font-weight: 200;
}
.t-reg{
  font-weight: 400;
}
.t-med{
  font-weight: 500;
}
.t-bold{
  font-weight: 600;
}
.capitalize{
text-transform: uppercase;
}
a {
  text-decoration: none;
  transition: 0.4s all;
  color: black;
}
a:hover {
 /* text-decoration: none;*/
  opacity:0.5;
/*   border:none;
  outline: none;*/
}
a.webintext{
  padding-bottom: 3px;
  border-bottom: 1px solid black;
  /* line-height: 48px; */
}
ul,li { 
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
}

.checked {
  color: orange;
}

.breathing{
  width: 80%;
}
.graph{
  width: 100%;
}

/* layout */
.header{
  height:0px;
}
.h-1px{
  height:1px;
}
.flex {
display: flex;
}
.relative{
position:relative;
}
.absolute{
position:absolute;
}
.fixed{
  position:fixed;
}
.static{
  position: static;
}
.c-19 {
  width:19%;
}
.c-62 {
  width:62%
}
.c-100 {
  width:100%
}
.c-90 {
  width:90%
}
.c-70{
  width: 70%
}
.c-50 {
  width:50%
}
.canvas{
  width: 300px;
  height: 610px;
}	
.centering-L50{
  left: 50%;
  transform: translate(-50%, 0%);
}
.centering-L10{
  left: 50%;
  transform: translate(5%, 0%);
}
.centering{
  display: flex;
  align-items: center;
  justify-content: center;
}
.centering-all{
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right-0{
  right: 0%;
}
.groups{
  width: 100px;
  height: 100px;
}

.detailBg{
  width: 100vw;
  height: 100vh;
}
.dropshadow{
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}
/*depth*/
.z-index-zero{
  z-index: 0;
}
.z-index-one{
  z-index: 100;
}
.z-index-two{
  z-index: 200;
}
.z-index-three{
  z-index: 300;
}

/* margin padding*/
.margin-bm-sm{
  margin-bottom: 20px;
}

.margin-right-ssm{
  margin-right: 10px;
}
.margin-right-sm{
  margin-right: 20px;
}
.margin-right-md{
  margin-right: 40px;
}

.margin-top-sm{
  margin-top: 20px;
}

.margin-left-md{
  margin-left: 40px;
}
.margin-left-sm{
  margin-left: 20px;
}
.margin-left-ssm{
  margin-left: 10px;
}

.padding-top-md{
  padding-top: 40px;
}
.padding-top-ssm{
  padding-top: 10px;
}
.padding-top-right-sm{
  padding-top: 20px;
  padding-right: 20px;
}
.padding-left-right-sm{
  padding-left: 20px;
  padding-right: 20px;
}
.padding-left-right-md{
  padding-left: 40px;
  padding-right: 40px;
}
.padding-left-right-lg{
  padding-left: 80px;
  padding-right: 80px;
}
.padding-ssm{
  padding: 7px;
}
.padding-sm{
  padding: 15px;
}
.padding-md{
  padding: 40px;
}
.padding-lg{
  padding: 40px;
}

/* boders */
.border{
  border: 1px solid black;
}
.border-right{
  border-right: 1px solid black;
}
.border-left{
  border-left: 1px solid black;
}
.border-top{
  border-top: 1px solid black;
}
.border-bottom{
  border-bottom: 1px solid black;
}
.border-sm{
  border-bottom: 1px solid black;
  width: 30px;
  margin: auto;
}
.border-md{
  border-bottom: 1px solid black;
  width: 60px;
  margin: auto;
}
.border-lg{
  border-bottom: 1px solid black;
  width: 90px;
  margin: auto;
}

.borderCorners {
  border-radius: 25px;
  border: 2px solid black;
}
.borderCorners-in {
  border-radius: 23px;
  border: 0px solid black;
}
.borderCorners-top {
  border-radius: 23px 23px 0px 0px;
  border: 1px solid #002047;
  background-color: #002047;
}
.borderCorners-bottom {
  border-radius: 0px 0px 23px 23px;
  border: 2px solid black;
}

.img-clipping {
  object-fit: cover;
  border-radius: '50%';
  width: 100px;
  height: 100px;
}

/* color */
.bg-black{
  background-color:black;
}
.bg-white{
  background-color:white;
}
.bg-yellow{
  background-color: yellow;
}
.bg-darkblue{
  background-color: #002047;
}
.txt-white{
  color:white;
}
.t-grey{
  color:rgb(141, 141, 141);
}
.t-black{
  color:black;
}


/* effects */
.displayTrue{
  display: none;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: red;
}
::selection {
  color: white;
  background: red;
}
.rotate {
  position:relative;
  top: 0px;
  left: 93px;
  padding-top:10px;
  transform-origin: 0 0;
  transform: rotate(90deg);
}

/*space*/
.l-apple-box-multiple{
  height: 40px;
}
.l-apple-box-multiple-zero{
  height: 40px;
}
.l-apple-box{
  height: 20px;
}
.l-apple-box-half{
  height: 10px;
}
.l-apple-box-half-zero{
  height: 10px;
}
.l-apple-box-doublehalf{
  height: 5px;
}

.marquee-top {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  height: 20px;
  /* width: 100%; */
  /* height: 50px; */
  overflow: hidden;
  background-color: #002047;
  color: white;
}
.marquee {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  /* width: 100%; */
  /* height: 50px; */
  overflow: hidden;
  background-color: black;
  color: white;
}
.marquee-content {
  display: flex;
  list-style: none;
  animation: scrolling 20s linear infinite;
}
.marquee-item {
  /* height: 150px; */
  /* width: 100%; */
  margin-left: 10px;
  flex-shrink: 0;
}
.marquee-item .date{
font-weight: 600;
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translatex(-1000px); }
}

@media screen and (max-width:500px) {
  .c-19 {
    width:0%;
  }
  .c-62 {
    width:100%
  }

  .displayNone {
    display: none;
  }
  .displayTrue{
    display: block;
  }

  .t-100 {
    font-size: 50px;
  }
  .t-21 {
    font-size: 18px;
  }
  .t-18 {
    font-size: 14px;
  }
  .t-28{
    font-size: 18px;
  }
 

  .l-apple-box {
    height: 10px;
  }
  .l-apple-box-half {
    height: 5px;
  }
  .l-apple-box-doublehalf {
    height: 13px;
  }
  .l-apple-box-multiple{
    height: 30px;
  }
  .l-apple-box-multiple-zero{
    height: 17px;
  }
  .l-apple-box-half-zero{
    height: 0px;
  }
  .padding-left-right-md{
    padding-left: 0%;
    padding-right: 0%;
  }
}